@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body{
    margin:0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #ffffff;
    transition: background-color 0.3s ease;

}

h1{
    text-align: center;
    font-family: 'Poppins';
    font-weight: 500;
}

.container{
    text-align: center;
}

#btn{
    padding: 24px 32px;
    font-size: 1.2rem;
    margin-top: 20px;
    cursor: pointer;
    font-family: 'Poppins';
    font-weight:700;
    border-radius: 16px;
    border: transparent;
    background-color: silver;
}

#btn:hover{
    background-color: rgb(109, 255, 109);
}